body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f9;
    color: #333;
}

.container {
    max-width: 600px;
    margin: 50px auto;
    padding: 20px;
    background: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    text-align: center;
}

h1 {
    color: #007bff;
}

label {
    display: block;
    margin: 15px 0 5px;
    font-weight: bold;
}

input, select {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.checkbox-container {
    display: flex;
    align-items: center;
    justify-content: start;
    margin-bottom: 20px;
}

.checkbox-container input {
    margin-right: 10px;
}

.apply-ppdc {
    display: inline-block;
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    text-decoration: none;
    border-radius: 4px;
    transition: background-color 0.3s;
    font-weight: bold;
}

.submit-ppdc {
    display: inline-block;
    padding: 10px 20px;
    background-color: #007bff;
    color: #fffe;
    text-decoration: none;
    border-radius: 4px;
    transition: background-color 0.3s;
    font-weight: bold;
}

.login-button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #007bff;
    color: #fefe;
    text-decoration: none;
    border-radius: 4px;
    transition: background-color 0.3s;
    font-weight: bold;
}

.cta-button:hover {
    background-color: #0056b3;
}

a {
    color: #007bff;
}

a:hover {
    text-decoration: underline;
}
